
.article {
  max-width: 800px;
  padding-left: 44.8px;
  margin-bottom: 78.4px;
}

/* Título */
.article h1 {
  margin-bottom: 16px;
}

/* Parágrafos do artigo */
.article__paragraph {
  color: rgb(51, 51, 51);
  margin-bottom: 12px;
  line-height: 1.6;
}
